---
import Layout from "@/layouts/Layout.astro";
import {
  CardTitle,
  CardHeader,
  CardContent,
  CardFooter,
  Card,
} from "@/system/ui/card";
---

<Layout title="Welcome to Astro.">
  <main class="flex min-h-screen flex-col items-center justify-center py-2">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="text-center text-5xl font-bold">Welcome to Our Website!</h1>
      <p class="text-center text-xl">Explore and enjoy our services.</p>
    </div>
    <div
      class="mt-10 flex w-full max-w-2xl flex-col items-stretch justify-center gap-4 md:flex-row"
    >
      <Card className="w-full p-4">
        <CardHeader>
          <CardTitle>React Game</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Here is some brief information about our first section.</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/react">Try it</a>
        </CardFooter>
      </Card>
      <Card className="w-full p-4">
        <CardHeader>
          <CardTitle>Cache</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Custom cache menagement for react</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/cache">Try it</a>
        </CardFooter>
      </Card>
    </div>
    <div
      class="mt-4 flex w-full max-w-2xl flex-col items-stretch justify-center gap-4 md:flex-row"
    >
      <Card className="w-full p-4">
        <CardHeader>
          <CardTitle>Animation</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Animated navigation</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/animation">Try it</a>
        </CardFooter>
      </Card>
      <Card className="w-full p-4">
        <CardHeader>
          <CardTitle>Jotai</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Primitive and flexible state management for React</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/jotai">Try it</a>
        </CardFooter>
      </Card>
    </div>
    <div
      class="mt-4 flex w-full max-w-2xl flex-col items-stretch justify-center gap-4 md:flex-row"
    >
      <Card className="w-[100%] p-4">
        <CardHeader>
          <CardTitle>Galery</CardTitle>
        </CardHeader>
        <CardContent>
          <p>View transition examples</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/galery">Try it</a>
        </CardFooter>
      </Card>
      <Card className="w-[100%] p-4">
        <CardHeader>
          <CardTitle>Scroll driven animations</CardTitle>
        </CardHeader>
        <CardContent>
          <p>In pure CSS</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/scroll">Try it</a>
        </CardFooter>
      </Card>
    </div>
    <div
      class="mt-4 flex w-full max-w-2xl flex-col items-stretch justify-center gap-4 md:flex-row"
    >
      <Card className="w-[100%] p-4">
        <CardHeader>
          <CardTitle>CSS tricks</CardTitle>
        </CardHeader>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/css">Try it</a>
        </CardFooter>
      </Card>
    </div>
  </main>
</Layout>
