---
import "../globals.css";
import Layout from "../layouts/Layout.astro";
import {
  CardTitle,
  CardHeader,
  CardContent,
  CardFooter,
  Card,
} from "@/system/ui/card";
import { ModeToggle } from "@/system/component/ModeToggle";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<Layout title="Welcome to Astro.">
  <div class="absolute right-4 top-4">
    <ModeToggle client:load />
  </div>
  <main class="flex min-h-screen flex-col items-center justify-center py-2">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="text-center text-5xl font-bold">Welcome to Our Website!</h1>
      <p class="text-center text-xl">Explore and enjoy our services.</p>
    </div>
    <div
      class="mt-10 flex flex-col items-center justify-center gap-4 md:flex-row"
    >
      <Card className="w-full p-4 md:w-[300px]">
        <CardHeader>
          <CardTitle>Card 1</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Here is some brief information about our first section.</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="#"> Learn More</a>
        </CardFooter>
      </Card>
      <Card className="w-full p-4 md:w-[300px]">
        <CardHeader>
          <CardTitle>Card 2</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Here is some brief information about our second section.</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="#"> Learn More</a>
        </CardFooter>
      </Card>
    </div>
  </main>
</Layout>

<!-- <Card href="/react" title="React in astro" body="I'll try to use react here" /> -->
