---
import Layout from "@/layouts/Layout.astro";
import {
  CardTitle,
  CardHeader,
  CardContent,
  CardFooter,
  Card,
} from "@/system/ui/card";
---

<Layout title="Welcome to Astro.">
  <main class="flex min-h-screen flex-col items-center justify-center py-2">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="text-center text-5xl font-bold">Welcome to Our Website!</h1>
      <p class="text-center text-xl">Explore and enjoy our services.</p>
    </div>
    <div
      class="mt-10 flex flex-col items-center justify-center gap-4 md:flex-row"
    >
      <Card className="w-full p-4 md:w-[300px]">
        <CardHeader>
          <CardTitle>React Game</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Here is some brief information about our first section.</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/react">Try it</a>
        </CardFooter>
      </Card>
      <Card className="w-full p-4 md:w-[300px]">
        <CardHeader>
          <CardTitle>Card 2</CardTitle>
        </CardHeader>
        <CardContent>
          <p>Custom cache menagement for react</p>
        </CardContent>
        <CardFooter>
          <a class="text-blue-500 hover:underline" href="/cache">Try it</a>
        </CardFooter>
      </Card>
    </div>
  </main>
</Layout>
