---
import "../globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main></main>
</Layout>

<!-- <Card href="/react" title="React in astro" body="I'll try to use react here" /> -->
